Client Web Service/src/main/java/proxy/.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://enset.ma/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://enset.ma/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://enset.ma/" schemaLocation="http://localhost:8087/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="Conversion">
<part name="parameters" element="tns:Conversion"></part>
</message>
<message name="ConversionResponse">
<part name="parameters" element="tns:ConversionResponse"></part>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"></part>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"></part>
</message>
<message name="compteList">
<part name="parameters" element="tns:compteList"></part>
</message>
<message name="compteListResponse">
<part name="parameters" element="tns:compteListResponse"></part>
</message>
<portType name="BanqueService">
<operation name="Conversion">
<input wsam:Action="http://enset.ma/BanqueService/ConversionRequest" message="tns:Conversion"></input>
<output wsam:Action="http://enset.ma/BanqueService/ConversionResponse" message="tns:ConversionResponse"></output>
</operation>
<operation name="getCompte">
<input wsam:Action="http://enset.ma/BanqueService/getCompteRequest" message="tns:getCompte"></input>
<output wsam:Action="http://enset.ma/BanqueService/getCompteResponse" message="tns:getCompteResponse"></output>
</operation>
<operation name="compteList">
<input wsam:Action="http://enset.ma/BanqueService/compteListRequest" message="tns:compteList"></input>
<output wsam:Action="http://enset.ma/BanqueService/compteListResponse" message="tns:compteListResponse"></output>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="Conversion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="compteList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8087/"></soap:address>
</port>
</service>
</definitions>